.shrink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 3rem !important;
}

.icon-shrink {
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.display-2,
.display-5 {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.bi-journal-code {
    font-size: 4rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.shrunk {
    font-size: 3rem;
}

.navbar-toggler-icon {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    background-color: #495057;
}

.card:hover {
    transform: scale(1.1);
    z-index: 500;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.card {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.theHandPrint {
    background-image: url("media/theHand.png");
    background-size: 4%;
    background-origin: content-box;
    background-position-x: 50%;
    background-position-y: 66%;
    background-repeat: no-repeat;
}

#signin:hover {
    cursor: pointer;
}

#contact:hover {
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .bi-journal-code {
        text-align: center;
        font-size: 3rem;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
    }
    .bi-journal-code::after {
        content: " Tryhard blog";
        font-size: 1.25rem;
        vertical-align: 40%;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
    }
    .shrunk {
        font-size: 2rem;
    }
    .shrunk::after {
        font-size: 1rem;
        vertical-align: 30%;
    }
}

@media only screen and (max-width:280px) {
    .bi-journal-code {
        font-size: 2.1rem;
    }
    .bi-journal-code::after {
        vertical-align: 20%;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }
}